<!-- <h1>{{title}}</h1>

<app-parent></app-parent>

<p Highlight> I am strong and confident Guy who can handle this well</p>
<p Hover> I can do anything</p>

<p *appIf="true">Hey what's up</p>

<strong>{{name | capitalize}}</strong>
 -->

<!-- <app-signup-template></app-signup-template> -->
<!-- <app-signup-reactive></app-signup-reactive> -->

<!-- Example of parent to child and child to parent -->

<!-- Life cycle hooks in angular
* creation 
1. constructor => instantiate the component
2. ngOnChanges

* Change Detection phase

* ngDoCheck => run during every change detection cycle
* ngAfterContentInit => called once after conetent is projected
* ngAfterContetntCheck => run after content projected.

* View Initalization Phase

* ngAfterViewInit => called after component view and child initialized.
* ngAfterViewChecked => called after component view and child view are checked.

* Component Destruction phase
* ngOnDestroy=> called just before component is destroy

1. ngOnit when initialize the components
2. ngOnchanges
3. ngOnChecked
4. ngOnDestroy


-->

<router-outlet></router-outlet>
